{
  "openapi": "3.1.0",
  "info": {
    "title": "Cookie API",
    "version": "1",
    "description": "Written by hand from https://docs.cookie-api.com, which has no spec. Only the endpoints Kite's blocks use."
  },
  "servers": [{ "url": "https://api.cookie-api.com" }],
  "components": {
    "securitySchemes": {
      "ApiKey": { "type": "apiKey", "in": "header", "name": "Authorization" }
    }
  },
  "security": [{ "ApiKey": [] }],
  "paths": {
    "/api/api-key": {
      "get": {
        "operationId": "get_api_key",
        "summary": "Information about the API key",
        "responses": { "200": { "description": "The key is valid" } }
      }
    },
    "/api/images/qr-code": {
      "post": {
        "operationId": "create_qr_code",
        "summary": "Generate a QR code",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["data"],
                "properties": {
                  "data": { "type": "string" },
                  "style": { "type": "string", "enum": ["dots", "standart"] },
                  "border": { "type": "integer" },
                  "center_image_url": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The QR code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "url": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/ai/generate-image": {
      "post": {
        "operationId": "generate_image",
        "summary": "Generate an image with AI",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt"],
                "properties": {
                  "prompt": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The image, kept for 7 days",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "url": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
